requests>=2.27.1
python-dotenv>=0.19.2
tweepy>=4.14.0 
flask>=2.0.0
flask-cors>=3.0.0
flask-sqlalchemy>=3.0.0
google-auth>=2.40.2
pyasn1>=0.6.1,<0.7.0
pyasn1-modules>=0.2.1
cachetools>=2.0.0,<6.0
rsa>=3.1.4,<5
flask-jwt-extended>=4.0.0 